.vscode/launch.json
__pycache__/
*/__pycache__/
*.pyc
src/__pycache__
src/Bo_Lu/__pycache__
src/SAM/__pycache__
results.xlsx
results_real.xlsx
spline174.npy
.DS_Store
spline209.npy
*.npy
*.npz
*.obj
*.mtl
*.usd
*.usda
*.usdc
*.tgz
*.tar.gz
*.mp4
segmenter.pt
paper
assets/*
src/optim.py
assets/thread_2.zip
assets/thread_2/__MACOSX/._thread_2
assets/thread_2/__MACOSX/thread_2/._.DS_Store
thread_reconstruction.egg-info/*
venv/*
src/thread_reconstruction.egg-info/*
src/thread_reconstruction/__pycache__/*
__thread_reconstruction/__pycache__/*
looping_string/looping_string_0.db3
looping_string/metadata.yaml
looping_string_move/looping_string_move_0.db3
looping_string_move/metadata.yaml
looping_string_move_two/looping_string_move_two_0.db3
looping_string_move_two/metadata.yaml
*.png
debug_qp_fail.npz
trtrial_1/metadata.yaml
trtrial_1/trtrial_1_0.db3
run.log
8_8_trial_1/8_8_trial_1_0.db3
